<!--views/backend/post.ejs-->

<link rel="stylesheet" href="/styles/backend/post.css" />
<script src="/scripts/ckeditor/ckeditor.js"></script>

<section class="Post">
    <% if(data.item){ %>
    <form action="/admin/post/edit/<%= data.item.key %>" method="post">
        <input type="text" name="title" value="<%= data.item.title %>" 
        required placeholder="Title" />
        <textarea name="content" id="editor"><%= data.item.content %></textarea>
        <div class="wrapper">
            <input type="text" name="demo_url" value="<%= data.item.demo_url %>"
            required placeholder="Demo URL" />
            <input type="text" name="github" value="<%= data.item.github %>"
            required placeholder="Repository URL" />
            <input type="submit" value="Publish" />
            <input type="text" name="thumbnail" value="<%= data.item.thumbnail %>"
            required placeholder="Thumbnail" />
            <input type="datetime-local" name="datetime" value="<%= data.item.date %>" 
            required />
            <button></button>
        </div>
    </form>
    <% }else{ %>
    <form action="/admin/post" method="post">
        <input type="text" name="title" required placeholder="Title" />
        <textarea name="content" id="editor"></textarea>
        <div class="wrapper">
            <input type="text" name="demo_url" required placeholder="Demo URL" />
            <input type="text" name="github" required placeholder="Repository URL" />
            <input type="submit" value="Publish" />
            <input type="text" name="thumbnail" required placeholder="Thumbnail" />
            <input type="datetime-local" name="datetime" required />
            <button></button>
        </div>
    </form>
    <% } %>
</section>
<script src="/scripts/ckeditor/config.js"></script>